@font-face {
    font-family : openfont;
    src :url(fonts/OpenSans-Regular.ttf)
}

body{
    padding : 0;
    margin : 0;
    font-family: openfont; 
    background-color : lightblue;
    width : 100%;
}
/*
 * Header is on top of things
 * */
header {
    padding :0.5em;
    border-bottom : 1px solid lightgray;
    display: block;
    height : 2em;
    color : #111;
    background: #eee;
}

/*
 * Footer is bellow
 * */
footer {
    display: block;
    width: 100%;
    height: 1em;
}

section {
    margin:0;
    padding : 1em;
}

section.links_to_other{
   padding:2em; 
   background: white;
   border-top:1px gray solid;
}

article {
    margin-top: 1em;
    border : 1px solid lightgray;
    padding:1em;
    background : white;
}

article h1 {
    font-size : 1.2em
}
article h2 {
    font-size : 1.1em
}
article h3 {
    font-size : 1.05em
}
article blockquote {
    border-left : 4px solid gray;
    padding-left:1em;
}*/
